<script>
var clientToken = "<%= Braintree::ClientToken.generate( :customer_id => current_user.customer_id, :options => {:fail_on_duplicate_payment_method => :true} ) %>";
  braintree.dropin.create({
      authorization: clientToken,
      selector: '#payment-form',
      locale: 'es_ES', // esto deberia ser dinamico
      paymentOptionPriority: ['paypal', 'paypalCredit', 'card'],
       paypal: {
         flow: 'vault',
         amount: <%= @plan.price %>,
         currency: 'USD',
         style: {
            size: 'medium',
            color: 'gold',
            shape: 'pill',
            label: 'Subscribe Now'
        }
       },
       paypalCredit: {
         flow: 'vault',
         amount: <%= @plan.price %>,
         currency: 'USD',
         style: {
            size: 'medium',
            color: 'gold',
            shape: 'pill'
         }
       }
     }, function (createErr, instance) {
        var form = document.querySelector('#myform');
        form.addEventListener('submit', function (event) {
          event.preventDefault();
          instance.requestPaymentMethod(function (err, payload) {
            if (err) {
              console.log('Error', err);
              if (err._braintreeWebError && err._braintreeWebError.code === "HOSTED_FIELDS_TOKENIZATION_FAIL_ON_DUPLICATE" ) {
                $("[data-braintree-id='sheet-error-text']").text(err._braintreeWebError.message);
              }
              $("#submit-button").removeAttr("disabled").attr('value', "Subscribe Now");
              return;
            }
            // Add the nonce to the form and submit
            document.querySelector('#payment_method_nonce').value = payload.nonce;
            form.submit();
          });
        });
  });

</script>

<div class="container">
<p class="lead">Subscribe</p>
<%= simple_form_for( @subscription , html: { class: 'well', id: 'myform' })  do |f| %>
  <div class="col-sm-6 col-sm-offset-1">
    <div id="payment-form">
    </div>
    <%= f.hidden_field :payment_method_token, id: "payment_method_nonce"  %>
    <%= f.hidden_field :plan_id, value: @subscription.plan_id %>
    <%= f.button :submit, "Subscribe Now", :method => :post, data: { "disable-with": "Saving..." }, id:"submit-button",
          "data-toggle" => "tooltip", class: "btn btn-success" %>
  </div>
<% end %>
</div>
