<!DOCTYPE html>
<html>
  <head>
    <title>SubscriptionsBraintree</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.braintreegateway.com/web/dropin/1.4.0/js/dropin.min.js"></script>
  </head>
  <body>
    <div class='navbar navbar-default navbar-fixed-top'>
      <div class="container">
        <div class='navbar-header'>
        <a href='/'> <%= image_tag "logo_home.png", width: "40px", height: "40px" %></a>
        <button type='button' class='navbar-toggle' class='navbar-toggle' data-toggle='collapse' data-target='navbar-collapse'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        </div>
        <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
          <li>test</li>
          <li>test 2</li>
        </ul>
      </div>
    </div>
    <div class="container">
    <% if current_user %>
        Signed in as <%= current_user.email %> | <%= link_to "Log out", sign_out_path %>
    <% else %>
        <%= link_to "Log in", sign_in_path %> | <%= link_to "Sign up", sign_up_path %>
    <% end %>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key%>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>

    <ul class="nav nav-tabs nav-pills">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>

    </div>
  </body>
</html>
